*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	font-size: 62.5%;
	scroll-behavior: smooth;
	scroll-padding-top: 79px;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.6rem;
	background-color: #fff;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

//  NAV

nav,
.navbar,
.navbar-expand-lg {
	padding: 0;
	font-size: 1.6rem;
}

.navbar {
	position: sticky;
	top: 0;
	width: 100%;
	height: 80px;
	background-color: #eee;
	z-index: 1000;
	.navbar-brand {
		position: relative;
		padding: 0 17px 0 10px;
		height: 80px;
		font-size: 3rem;
		line-height: 80px;
		transition: background-color 0.33s, color 0.33s;
		&:hover {
			background-color: #111;
			color: #eee;
			cursor: pointer;
		}
		&:focus {
			outline: none;
			box-shadow: none;
			background-color: #222;
			color: #eee;
		}
		.navbar-brand-icon {
			margin-bottom: 5px;
			margin-right: 6px;
			margin-left: 6px;
			height: 2.5rem;
			width: 2.5rem;
		}
	}
	.navbar-collapse {
		.navbar-nav {
			.nav-link {
				padding: 30px;
				min-width: 125px;
				height: 80px;
				text-align: center;
				line-height: 20px;
				background-color: #eee;
				&:hover {
					background-color: #222;
					color: #eee;
					cursor: pointer;
				}
				&:focus {
					outline: none;
					box-shadow: none;
					background-color: #222;
					color: #eee;
				}
			}
			.active {
				background-color: #000;
				color: #eee;
			}
		}
	}
	.navbar-toggler {
		position: relative;
		top: 0;
		right: 0;
		background-color: #000;
		padding: 10px 30px;
		border-radius: 0;
		height: 80px;
		transition: background-color 0.33s, color 0.33s;
		&:hover {
			background-color: #222;
			color: #eee;
			cursor: pointer;
		}
		&:focus {
			outline: none;
			box-shadow: none;
			background-color: #222;
			color: #eee;
		}
		img {
			width: 30px;
			height: 30px;
		}
	}
}

// HEADER

.header {
	height: calc(100vh - 80px);
	.hero-img {
		position: relative;
		height: 100%;
		background-image: url(../img/jungle-1807476_1280.jpg);
		background-position: 50% 80%;
		background-size: cover;
		.hero-shadow {
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.6);
		}
		.hero-text {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateY(-50%) translateX(-50%);
			padding: 30px;
			width: 100%;
			text-align: left;
			color: #eee;
			.header-heading {
				font-size: 1.6rem;
			}
			.header-text {
				font-size: 2.7rem;
				font-weight: bold;
			}
		}
	}
}

// MAIN
.section {
	display: flex;
	flex-direction: column;
	padding: 20px;
	margin-bottom: 2em;
}

.section-heading {
	margin: 1em auto;
	font-size: 3rem;
	text-transform: uppercase;
}

// ABOUT-US
.about-us {
	width: 100%;
	&__box {
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	&__img {
		margin: 0 auto 1em;
		min-width: 50%;
		max-width: 100%;
	}

	&__title {
		margin: 0.5em;
		font-size: 1.8rem;
		font-weight: bold;
	}

	&__text {
		margin: 0.5em;
		padding: 0.2em;
		font-size: 1.4rem;
		text-align: justify;
	}
}

// MEDIA QUERIES

@media (min-width: 375px) {
	.header {
		height: 265px;
	}
}

@media (min-width: 576px) {
	.about-us {
		&__box {
			flex-direction: row;
			align-items: center;
			justify-content: center;
			align-content: space-evenly;
			padding: 0.2em;
		}

		&__img {
			margin: 0.2em;
			padding-left: 0.1em;
			padding-right: 1em;
		}

		&__box-text {
			align-self: flex-start;
			margin: 0.2em;
			min-width: 50%;
			max-width: 100%;
		}

		&__title {
			font-size: 2rem;
		}

		&__text {
			font-size: 1.5rem;
		}
	}
}

@media (min-width: 768px) {
	.header {
		height: 300px;
	}
	.about-us {
		&__img {
			padding-right: 1.2em;
		}
	}
}

@media (min-width: 992px) {
	.header {
		height: 305px;
		.hero-img {
			background-position: 50% 68%;
			.hero-text {
				.header-heading {
					font-size: 1.8rem;
				}
				.header-text {
					font-size: 2.9rem;
				}
			}
		}
	}

	.about-us {
		&__img {
			padding-right: 1.5em;
		}
		&__title {
			font-size: 2.2rem;
		}
		&__text {
			font-size: 1.6rem;
		}
	}
}

@media (min-width: 1200px) {
	.header {
		height: 365px;
		.hero-img {
			background-image: url(../img/jungle-1807476_1920.jpg);
			.hero-text {
				.header-heading {
					font-size: 2rem;
				}
				.header-text {
					font-size: 3.2rem;
				}
			}
		}
	}
	.section-heading {
		font-size: 3.2rem;
	}
}
