.center {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 30px 10px;
}

.contact-wrapper {
	width: 320px;
	background-color: #fff;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
	border-radius: 8px;
	// scale: 0.8;
	// overflow: hidden;
}

form {
	padding: 35px;
	font-size: 1.6rem;
}

h1 {
	margin-bottom: 24px;
	text-align: center;
}


.contact-form input,
.contact-form textarea,
.contact-form button {
	font-family: inherit;
	border-radius: 4px;
	border: 1px solid rgb(197, 197, 197);
}

.form-box {
	margin-bottom: 12px;
	label {
		display: inline-block;
		margin-bottom: 4px;
	}
	input {
		width: 100%;
		padding: 8px;
		font-size: 1.2rem;
		border-radius: 4px;
	}
	textarea {
		display: block;
		width: 100%;
		max-width: 100%;
		min-height: 160px;
	}
	.error-text {
		margin: 4px 0 0 8px;
		font-size: 1.1rem;
		color: #20ab57;
		visibility: hidden;
	}
}

.form-box.error {
	input {
		border: 1px solid #2ade72;;
		background-color: #20ab57;
	}
	.error-text {
		visibility: visible;
	}
}

.control-buttons {
	display: flex;
	justify-content: flex-end;
}

.send,
.clear,
.close {
	display: block;
	padding: 8px 0;
	margin-left: 18px;
	width: 80px;
	font-size: 1.4rem;
	background-color: #2ade72;
	box-shadow: 0px 0px 2px #20ab57;
	color: #000;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.33s, color 0.33s, box-shadow 0.33s, scale .33s;
}

.send:hover,
.clear:hover,
.close:hover {
	background-color: #20ab57;
	box-shadow: 0px 1px 4px #20ab57;
	color:#fff;
	scale: 1.1;
}

.popup {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: absolute;
	top: -240px;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 80%;
	max-width: 480px;
	min-height: 160px;
	background-color: #fff;
	border-radius: 4px;
	border: 1px solid black;
	transition: top 0.67s;
}

.popup p {
	font-size: 2.2rem;
}

.popup .close {
	margin-top: 16px;
}

.show-popup {
	top: 120px;
}
